@define-color bg #131328;
@define-color fg #ECC0A0;
@define-color gray1 #EC8B74;
@define-color gray2 #7d7da4;
@define-color gray3 #9498c2;
@define-color gray4 #AF8878;
@define-color gray5 #c69ec7;
@define-color fg_bright #fcf3ec;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}